---
import Layout from "../../layouts/Layout.astro";

const title = "Notes";
const description =
  "Notes, posts, and musings on software, design, security, et alia.";
---

<Layout {title} {description}>
  <h1>{title}</h1>
</Layout>
