---
import Layout from "../layouts/Layout.astro";

const title = "404";
const description = "Not found";
---

<Layout {title} {description}>
  <header>
    <h1>404 :/</h1>
  </header>
  <p>Looks like the page you're looking for doesn't exist.</p>
  <a href="/">Back to the home page</a>
</Layout>
