---
import Layout from "../layouts/Layout.astro";

const title = "Work";
const description = "A high-level overview of my work: both where and what on.";
---

<Layout {title} {description}>
  <h1>{title}</h1>
</Layout>
